<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bar</title>
</head>
<body th:inline="text">
<!--topbar-->
<nav class="navbar navbar-dark fixed-top bg-info flex-md-nowrap p-0 shadow" th:fragment="top_bar">
    <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="http://localhost:8080/main.html">[[${session.loginUser.getName()}]]</a>
    <input type="hidden" id="loginUserName" name="loginUserName" th:value="${session.loginUser.getName()}">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" style="color: #23272b"  href="/..">Sign out</a>
        </li>
    </ul>
</nav>

<!--sidebar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="side_bar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/main.html" th:class="${activeUrl=='main'?'nav-link active':'nav-link'}">
                    <span data-feather="home"></span>
                    首頁 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/books}" th:class="${activeUrl=='books'?'nav-link active':'nav-link'}">
                    <span data-feather="file-text"></span>
                    流水帳
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/otherMsgs}" th:class="${activeUrl=='otherMsg'?'nav-link active':'nav-link'}">
                    <span data-feather="file-text"></span>
                    訊息公告管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/members}" th:class="${activeUrl=='members'?'nav-link active':'nav-link'}">
                    <span data-feather="file-text"></span>
                    會員帳號管理
                </a>
            </li>

        </ul>
    </div>
</nav>
<!-- 侧边栏结束 -->

</body>
</html>