<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bar</title>
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


</head>
<body th:inline="text">
<!--topbar-->
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation"
     style="margin-bottom: 0; background-color:#107D7C;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="http://localhost:8771/main.html"><img
                src="../../static/img/header_mainlogo_ctbcfp.png" height="24" width="125"/></a>
    </div>
    <!--/.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <button onclick="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</button>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a class="nav-link active" href="/main.html"
                       th:class="${activeUrl=='main'?'nav-link active':'nav-link'}">
                        <span data-feather="calendar"></span>
                        假日管理 <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link active" href="/accommodate" th:href="@{/accommodate}"
                       th:class="${activeUrl=='accommodate'?'nav-link active':'nav-link'}">
                        <span data-feather="users"></span>
                        開放人數管理
                    </a>
                </li>
                <li>
                    <a class="nav-link active" href="/verify" th:href="@{/verify}"
                       th:class="${activeUrl=='verify'?'nav-link active':'nav-link'}">
                        <span data-feather="file-text"></span>
                        審核報名資料
                    </a>
                </li>
                <!--<li>-->
                <!--<a class="nav-link active" href="#" th:href="@{/members}"-->
                <!--th:class="${activeUrl=='members'?'nav-link active':'nav-link'}">-->
                <!--<span data-feather="slack"></span>-->
                <!--會員帳號管理-->
                <!--</a>-->
                <!--</li>-->


            </ul>
        </div>
    </div>
</nav>
<script>
    function logout() {
        window.location.href = "/..";
    }
</script>


</body>
</html>
