<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<!---小於等於七頁---->
<div th:fragment="pagination">

    <!--<form class="form-inline">-->
    <!--&lt;!&ndash;<div class="form-row align-items-center" style="display:inline">&ndash;&gt;-->
    <!--<div class="col-auto">-->
    <!--<label class="my-1 mr-2">一頁</label>-->
    <!--<select class="col-md-1 mb-1" type="text" id="pageSize" name="pageSize" th:value="${pageSize}"-->
    <!--th:onchange="'javascript:changePageSize()'">-->
    <!--<option th:selected="${sizeOpt==pageSize}" th:each="sizeOpt:${pageSizeOption}"-->
    <!--th:value="${sizeOpt}" th:text="${sizeOpt}"></option>-->
    <!--</select>-->
    <!--<label>筆</label>-->
    <!--</div>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</form>-->

    <form class="form-inline">
        <label class="my-1 mr-2">一頁</label>
        <select class="custom-select my-1 mr-sm-2" id="pageSize" name="pageSize" th:value="${pageSize}"
                th:onchange="'javascript:changePageSize()'">
            <option th:selected="${sizeOpt==pageSize}" th:each="sizeOpt:${pageSizeOption}"
                    th:value="${sizeOpt}" th:text="${sizeOpt}"></option>
        </select>
        <label class="custom-control-label">筆</label>



        <label class="custom-control-label">/共[[${count}]]筆</label>

        <div class="form-check mb-2 mr-sm-2">
            <ul class="pagination" data-th-if="${totalPages <= 7}">
                <!-- 上一頁 -->
                <li class="page-item" data-th-classappend="*{indexPage==1} ? 'disabled' : ''">
                    <a th:href="'javascript:changePage(\'' +${indexPage-1} + '\');'" class="page-link"
                       data-th-attr="pageIndex=${indexPage} - 1"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>

                <!-- 迴圈頁碼 -->
                <li class="page-item" data-th-each="i : ${#numbers.sequence(1, totalPages)}"
                    data-th-classappend="${(indexPage) == i} ? 'active' : ''">
                    <a class="page-link" data-th-attr="pageIndex=${i} - 1"
                       th:href="'javascript:changePage(\'' +${i} + '\');'">
                        <span data-th-text="${i}"></span>
                    </a>
                </li>

                <!-- 下一頁 -->
                <li class="page-item" data-th-classappend="*{indexPage==totalPages} ? 'disabled' : ''">
                    <a th:href="'javascript:changePage(\'' +${indexPage+1} + '\');'" class="page-link"
                       data-th-attr="pageIndex=${indexPage} + 1"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>

            <!-- 處理頁數大於7的情况 -->
            <ul class="pagination" data-th-if="${totalPages > 7}">
                <!-- 上一頁 -->
                <li class="page-item" data-th-classappend="*{first} ? 'disabled' : ''">
                    <a th:href="'javascript:changePage(\'' +${indexPage-1} + '\');'" class="page-link"
                       data-th-attr="pageIndex=${indexPage} - 1"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>

                <!-- 首頁 -->
                <li class="page-item" data-th-classappend="${(indexPage ) == 1} ? 'active' : ''">
                    <a th:href="'javascript:changePage(\'' +1 + '\');'" class="page-link" data-th-attr="pageIndex=0">1</a>
                </li>


                <!-- 當前頁面小於等於4 -->
                <li class="page-item" data-th-if="${(indexPage + 1) <= 7}" data-th-each="i : ${#numbers.sequence(2,4)}"
                    data-th-classappend="${(indexPage ) == i} ? 'active' : ''">
                    <a class="page-link" th:href="'javascript:changePage(\'' +${i} + '\');'" data-th-attr="pageIndex=${i} - 1">
                        <span data-th-text="${i}"></span>
                    </a>
                </li>
                <li class="page-item disabled" data-th-if="${(indexPage + 1) <= 4}">
                    <a href="javascript:void(0);" class="page-link">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>


                <!-- 最後一頁與當前頁面之差，小於等於3 -->
                <li class="page-item disabled" data-th-if="${(totalPages-(indexPage + 1)) <= 3}">
                    <a href="javascript:void(0);" class="page-link">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>
                <li class="page-item" data-th-if="${(totalPages-(indexPage + 1)) <= 3}"
                    data-th-each="i : ${#numbers.sequence(totalPages-4, totalPages-1)}"
                    data-th-classappend="${(indexPage ) == i} ? 'active' : ''">
                    <a class="page-link" th:href="'javascript:changePage(\'' +${i} + '\');'" data-th-attr="pageIndex=${i} - 1">
                        <span data-th-text="${i}"></span>
                    </a>
                </li>

                <!-- 最後一頁與當前頁面之差大於3，且當前頁面大於4-->

                <li class="page-item disabled"
                    data-th-if="${((indexPage + 1) > 4) && ((totalPages-(indexPage + 1)) > 3 )}">
                    <a th:href="'javascript:changePage(\'' +${i} + '\');'" class="page-link">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>
                <li class="page-item active" data-th-if="${((indexPage + 1) > 4) && ((totalPages-(indexPage + 1)) > 3 )}">
                    <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=${indexPage}">[[${indexPage}]]</a>
                </li>
                <li class="page-item"
                    data-th-if="${((indexPage + 1) > 4) && ((totalPages-(indexPage + 1)) > 3 )}">
                    <a th:href="'javascript:changePage(\'' +${indexPage+1} + '\');'" class="page-link"
                       data-th-attr="pageIndex=${indexPage} + 1">[[${indexPage
                        + 1}]]</a>
                </li>
                <li class="page-item" data-th-if="${((indexPage + 1) > 4) && ((totalPages-(indexPage + 1)) > 3 )}">
                    <a th:href="'javascript:changePage(\'' +${indexPage+2} + '\');'" class="page-link"
                       data-th-attr="pageIndex=${indexPage} + 2">[[${indexPage
                        + 2}]]</a>
                </li>

                <li class="page-item disabled"
                    data-th-if="${((indexPage + 1) > 4) && ((totalPages-(indexPage + 1)) > 3 )}">
                    <a href="javascript:void(0);" class="page-link">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>

                <!-- 最後一頁 -->
                <li class="page-item" data-th-classappend="${(indexPage ) == totalPages} ? 'active' : ''">
                    <a th:href="'javascript:changePage(\'' +${totalPages} + '\');'" class="page-link"
                       data-th-attr="pageIndex=${totalPages} - 1">[[${totalPages}]]</a>
                </li>

                <!-- 下一頁 -->
                <li class="page-item" data-th-classappend="*{last} ? 'disabled' : ''">
                    <a th:href="'javascript:changePage(\'' +${indexPage+1} + '\');'" class="page-link"
                       data-th-attr="pageIndex=${indexPage} + 1"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>


</body>
</html>