<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>流水帳</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-jie.css" rel="stylesheet"/>
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" media="screen"/>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="screen"/>
    <!-- Custom styles for this tmemberlate -->
    <link href="/css/dashboard.css" rel="stylesheet"/>


</head>
<body th:inline="text">
<script src="/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="/js/moment.js" crossorigin="anonymous"></script>
<script>

    /**
     * toast 小提示框
     * @param tipTxt 提示内容
     */
    function popToast(tipTxt) {
        var $popToast = $(".pop-toast");
        $popToast.remove();
        var popToastHtml = '<div class="pop-toast">\n' +
            '            <p class="toast-tip">' + tipTxt + '</p>\n' +
            '        </div>';
        $popToast = $(popToastHtml);
        $("body").append($popToast);
        setTimeout(function () {
            $popToast.fadeOut();
        }, 1500);
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        //----測試用
        // $('.form-control').attr('disabled', true);
        // $("#incomeOrExpend").attr('disabled', false);
        // $("#amt").attr('disabled', false);
        // $("#paidDat").attr('disabled', false);
        //----
        componentCl();
        $('.collapse').collapse();
        //$("#createDat").val((Today.getFullYear()) + "-" + (Today.getMonth() + 1) + '-' + ((Today.getDate().toString().length == 1) ? '0' + Today.getDate() : Today.getDate()));
        $("#createDat").val(moment().format('YYYY-MM-DD'));
        $("#createMemberName").val($("#loginUserName").val());

        var customerId = $("#customerId option:selected").val();
        findProjectByCustomerIdAjax(customerId, 'form');
        var q_customerId = $("#q_customerId option:selected").val();
        if (q_customerId != 0) {
            findProjectByCustomerIdAjax(q_customerId, 'query');
        }
        $("#customerId").change(function () {
            var customerId = $("#customerId option:selected").val();
            findProjectByCustomerIdAjax(customerId, 'form');
        });
        $("#q_customerId").change(function () {
            var q_customerId = $("#q_customerId option:selected").val();
            if (q_customerId != 0) {
                findProjectByCustomerIdAjax(q_customerId, 'query');
            } else {
                $("#q_projectId").empty();
            }
        });
    });

    function findProjectByCustomerIdAjax(customerId, rowType) {
        $.ajax({
            contentType: 'application/json; charset=UTF-8',
            type: "post",
            data: JSON.stringify(customerId),
            url: "/books/findProjectByCustomerId",
            success: function (data) {
                var str = "";
                $.each(data, function (index, value) {
                    str += "<option value='" + value.id + "'>" + value.projectName + "</option>";
                });
                if (rowType == 'form') {
                    $("#projectId").empty();
                    $("#projectId").append(str);
                } else if (rowType == 'query') {
                    $("#q_projectId").empty();
                    $("#q_projectId").append("<option value=''>" + "" + "</option>");
                    $("#q_projectId").append(str);
                }
            },
            error: function (jqXHR, exception) {
                ajaxError(jqXHR, exception);
            },
        });
    }

</script>
<!--引入topbar-->
<div th:replace="common/bar::top_bar"></div>
<div class="container-fluid">
    <div class="row">
        <!--引入sidebar-->
        <div th:replace="common/bar::side_bar(activeUrl='books')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="chartjs-size-monitor"
                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>
            <!-- form **************************************************************-->
            <div container-fluid>
                <form id='myForm' class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-2 mb-1">
                            <label for="id">編號</label>
                            <input maxlength="12" type="text" class="form-control" name="id" id="id" readonly>
                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="incomeOrExpend">帳務類別</label>
                            <select class="form-control" id="incomeOrExpend" name="incomeOrExpend">
                                <option value="1">收入</option>
                                <option value="0">支出</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="projectId">客戶單位</label>
                            <select class="form-control" name="customerId" id="customerId">
                                <option th:each="customer:${customers}" th:value="${customer.id}"
                                        th:text="${customer.custNm}"></option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-1">
                            <label for="projectId">專案名稱</label>
                            <select class="form-control selector" name="projectId" id="projectId">

                            </select>
                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="amt">金額</label>
                            <input name="amt" id="amt" maxlength="14" type="text" class="form-control"
                                   placeholder="1000" onkeyup="value=value.replace(/[^\d]/g,'') " required>
                            <div class="invalid-feedback">
                                請輸入金額.
                            </div>
                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="invoice">廠商發票</label>
                            <select class="form-control" name="invoice" id="invoice" onchange="componentCl();">
                                <option value="1">Y</option>
                                <option value="0" selected>N</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="invYM">發票月份</label>
                            <input type="text" class="form-control datetimepickerYM" id='invYM' name="invYM"
                                   placeholder="2018-01"
                                   required>
                            <div class="invalid-feedback">
                                請輸入發票月份.
                            </div>
                        </div>

                        <div class="col-md-2 mb-1">
                            <label for="invNo">發票號碼</label>
                            <div class="input-group">
                                <input maxlength="10" type="text" class="form-control" name="invNo" id="invNo"
                                       placeholder="NY12345678" required>
                                <div class="invalid-feedback">
                                    請輸入發票號碼.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mb-1">
                            <label for="description">說明</label>
                            <input id="description" name="description" type="text" class="form-control" placeholder="說明"
                                   required>
                            <div class="invalid-feedback">
                                請輸入說明.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2 mb-1">
                            <label for="paid">付款與否</label>
                            <select class="form-control" name="paid" id="paid" onchange="componentCl();">
                                <option value="1">Y</option>
                                <option value="0" selected>N</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="paidDat">付款日</label>
                            <input id='paidDat' name="paidDat" type="text" class="form-control datetimepickerDat"
                                   placeholder="2018-01-01"
                                   required>
                            <div class="invalid-feedback">
                                請輸入付款日.
                            </div>
                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="createMemberName">建立人員</label>
                            <input type="text" readonly class="form-control" id="createMemberName"
                                   name="createMemberName">
                            <input type="hidden" id="createMemberId" name="createMemberId"
                                   th:value="${session.loginUser.getId()}">
                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="createDat">建立時間</label>
                            <input type="text" readonly class="form-control" id="createDat" name="createDat">

                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="updateMemberName">異動人員</label>
                            <input type="text" readonly class="form-control" id="updateMemberName"
                                   name="updateMemberName">
                            <input type="hidden" id="updateMemberId" name="updateMemberId">
                        </div>
                        <div class="col-md-2 mb-1">
                            <label for="updateDat">異動時間</label>
                            <input type="text" readonly class="form-control" id="updateDat" name="updateDat">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-1" style="width: 40%">
                            <label for="description">備註</label>
                            <textarea id="remarks" name="remarks" class="form-control" cols="50" rows="3"></textarea>
                        </div>
                        <div class="form-inline">
                            <div class="button-bar">
                                <button class="btn btn-info" onclick="openAddModal();" type="button" id="query"
                                        name="query" data-toggle="modal">查詢
                                </button>
                                <!--<button class="btn btn-success" id="create" name="create"-->
                                <!--onclick="$('#status').val('create');$('.form-control').attr('disabled', false);"-->
                                <!--type="button">新增-->
                                <!--</button>-->
                                <button class="btn btn-success" id="create" name="create"
                                        onclick="$('#status').val('create');"
                                        type="submit">新增
                                </button>
                                <button class="btn btn-danger" id="delete" name="delete"
                                        onclick="$('#status').val('delete');enter();" type="button">
                                    刪除
                                </button>
                                <!--<button class="btn btn-primary" id="update" name="update"-->
                                <!--onclick="$('#status').val('update');$('.form-control').attr('disabled', false);"-->
                                <!--type="button">修改-->
                                <!--</button>-->
                                <button class="btn btn-primary" id="update" name="update"
                                        onclick="$('#status').val('update');"
                                        type="submit">修改
                                </button>
                                <button class="btn btn-warning" id="print" name="print"
                                        onclick="printPDF();" type="button">
                                    列印
                                </button>
                                <!--<button class="btn btn-secondary" id="confirm" name="confirm" type="submit">確定-->
                                <!--</button>-->
                                </button>
                                <button class="btn btn-secondary" onclick="reInThisPage();" id="reset" name="reset"
                                        type="button">清空
                                </button>
                                <input type="hidden" id="status" name="status">
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <!-----------query--------------------------------->
            <div id="accordion">
                <div class="card">
                    <button class="btn btn-outline-info" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                        <div class="card-header" id="headingOne">
                            <h6>
                                查 詢
                            </h6>
                        </div>
                    </button>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="card-body container-fluid">
                            <form id="queryForm" name="queryForm" th:action="@{/books/queryByCondition}" method="get">
                                <div class="form-row">
                                    <div class="col-md-2 mb-1">
                                        <label for="q_id">編號</label>
                                        <input maxlength="12" type="text" class="form-control queryform" name="q_id"
                                               id="q_id"
                                               th:value="${bookReq!=null}?${bookReq.getQ_id()}"
                                               placeholder="大於">
                                        <input maxlength="12" type="text" class="form-control queryform" name="q_id2"
                                               id="q_id2"
                                               th:value="${bookReq!=null}?${bookReq.getQ_id2()}"
                                               placeholder="小於">
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label for="q_amt">金額</label>
                                        <input name="q_amt" id="q_amt" maxlength="14" type="text"
                                               class="form-control queryform"
                                               th:value="${bookReq!=null}?${bookReq.getQ_amt()}"
                                               onkeyup="value=value.replace(/[^\d]/g,'') " placeholder="大於">
                                        <input name="q_amt2" id="q_amt2" maxlength="14" type="text"
                                               th:value="${bookReq!=null}?${bookReq.getQ_amt2()}"
                                               class="form-control queryform"
                                               onkeyup="value=value.replace(/[^\d]/g,'') " placeholder="小於">
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label for="invYM">發票月份</label>
                                        <input type="text" class="form-control datetimepickerYM queryform" id='q_invYM'
                                               th:value="${bookReq!=null}?${bookReq.getQ_invYM()}"
                                               name="q_invYM">
                                        <input type="text" class="form-control datetimepickerYM queryform" id='q_invYM2'
                                               th:value="${bookReq!=null}?${bookReq.getQ_invYM2()}"
                                               name="q_invYM2">
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label for="paidDat">付款日</label>
                                        <input id='q_paidDat' name="q_paidDat" type="text"
                                               th:value="${bookReq!=null}?${bookReq.getQ_paidDat()}"
                                               class="form-control datetimepickerDat queryform">
                                        <input id='q_paidDat2' name="q_paidDat2" type="text"
                                               th:value="${bookReq!=null}?${bookReq.getQ_paidDat2()}"
                                               class="form-control datetimepickerDat queryform">
                                    </div>

                                    <div class="col-md-2 mb-1">
                                        <label for="q_incomeOrExpend">帳務類別</label>
                                        <select class="form-control queryform" id="q_incomeOrExpend"
                                                name="q_incomeOrExpend">
                                            <option value="">請選擇</option>
                                            <option value="1"
                                                    th:selected="${bookReq!=null && bookReq.getQ_incomeOrExpend()=='1'}?true">
                                                收入
                                            </option>
                                            <option value="0"
                                                    th:selected="${bookReq!=null && bookReq.getQ_incomeOrExpend()=='0'}?true">
                                                支出
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label for="invNo">發票號碼</label>
                                        <div class="input-group">
                                            <input maxlength="10" type="text" class="form-control queryform"
                                                   name="q_invNo"
                                                   id="q_invNo" th:value="${bookReq!=null}?${bookReq.getQ_invNo()}">
                                        </div>
                                    </div>

                                    <div class="col-md-2 mb-1">
                                        <label for="q_customerId">客戶單位</label>
                                        <select class="form-control queryform" name="q_customerId" id="q_customerId">
                                            <option th:each="q_customer:${q_customers}" th:value="${q_customer.id}"
                                                    th:text="${q_customer.custNm}"
                                                    th:selected="${bookReq!=null && bookReq.getQ_customerId()!=null}?${q_customer.id==bookReq.getQ_customerId()}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label for="q_projectId">專案名稱</label>
                                        <select class="form-control selector queryform" name="q_projectId"
                                                id="q_projectId">
                                            <option th:each="project:${projectDtos}" th:value="${project.getId()}"
                                                    th:text="${project.getProjectName()}"
                                                    th:selected="${bookReq!=null && projectDtos!=null}?${project.getId()==bookReq.getQ_projectId()}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label for="q_invoice">廠商發票</label>
                                        <select class="form-control queryform" name="q_invoice" id="q_invoice">
                                            <option value="">請選擇</option>
                                            <option value="1"
                                                    th:selected="${bookReq!=null && bookReq.getQ_invoice()==1}?true">Y
                                            </option>
                                            <option value="0"
                                                    th:selected="${bookReq!=null && bookReq.getQ_invoice()==0}?true">N
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label for="q_paid">付款與否</label>
                                        <select class="form-control queryform" name="q_paid" id="q_paid">
                                            <option value="">請選擇</option>
                                            <option value="1"
                                                    th:selected="${bookReq!=null && bookReq.getQ_paid()==1}?true">Y
                                            </option>
                                            <option value="0"
                                                    th:selected="${bookReq!=null && bookReq.getQ_paid()==0}?true">N
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label for="q_description">說明</label>
                                        <input id="q_description"
                                               th:value="${bookReq!=null}?${bookReq.getQ_description()}"
                                               name="q_description" type="text" class="form-control queryform">
                                    </div>
                                </div>
                                <div th:align="right">
                                    <button type="submit" class="btn btn-default btn-success">執行查詢</button>
                                    <button class="btn btn-secondary" onclick="reInThisPage();" id="q_reset" name="q_reset"
                                            type="button">清空
                                    </button>
                                </div>

                                當前<input type="text" id="current_page" th:value="${indexPage}" name="current_page">
                                每頁<input type="text" id="hiddenPageSize" th:value="${pageSize}" name="hiddenPageSize">
                            </form>
                        </div>

                    </div>
                </div>
            </div>


            <!-----------LIST--------------------------------->
            <div id="list" name="list" class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <!--<tr class="table table-striped table-sm">-->
                    <tr class="table table-striped table-sm" align="center">
                        <th>ID</th>
                        <th>收支</th>
                        <th>廠商發票</th>
                        <th>廠商發票月份</th>
                        <th>發票號碼</th>
                        <th>付款與否</th>
                        <th>付款日期</th>
                        <th>金額</th>
                        <th>專案名稱</th>
                        <th>說明</th>
                        <th>備註</th>
                    </tr>
                    </thead>
                    <tbody id="list-itens">
                    <tr id="listTr" th:each="book:${books}"
                        th:onclick="'javascript:queryOne(\''+${book.id}+'\')'">
                        <td align="center" th:text="${book.getId()}">1</td>
                        <td align="center" th:text="*{book.getIncomeOrExpend()=='1'}?'收入':'支出'">1
                        </td>
                        <td align="center" th:text="*{book.getInvoice()}?'Y':'N'">1</td>
                        <td align="center" width="9%" th:text="${book.getInvYM()}">1</td>
                        <td align="center" th:text="${book.getInvNo()}">1</td>
                        <td align="center" th:text="*{book.paid}?'Y':'N'">1</td>
                        <td align="center" width="11%"
                            th:text="${#dates.format(book.paidDat, 'yyyy-MM-dd')}">1
                        </td>
                        <td align="right"
                            th:text="${#numbers.formatCurrency(book.amt).replace('.00','')}">1
                        </td>
                        <td th:text="${book.projectName}">1</td>
                        <td th:text="${book.description}">1</td>
                        <td th:text="${book.remarks}">1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--pagination-->
            <div th:replace="common/pagination::pagination"></div>
<div>[[${books}]]</div>
            <!-- 查詢
            <form>
                <div id="addPanelHolder">
                    <div id="addPanel" class="modal fade" role="dialog" th:fragment="addModalContens">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="hdr-form-customer">查詢條件</h4>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-group">
                                        <label>流水號</label>
                                        <input type="text" name="name" id="name" class="form-control">
                                        <label>專案名稱</label>
                                        <select class="form-control" name="depId" id="depId">
                                            <option th:each="dept:${depts}" th:value="${dept.id}"
                                                    th:text="${dept.depName}"></option>
                                        </select>

                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link pull-left" data-dismiss="modal">取消
                                    </button>
                                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal"
                                            th:onclick="'javascript:sendAddMember()'">查詢
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            -->
        </main>

    </div>
</div>


<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Icons -->
<script src="./Dashboard_files/feather.min.js" th:src="@{/js/feather.min.js}"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-TW.js"></script>
<script>
    feather.replace()
</script>

<script>
    //不讓myForm真的送出
    $('#myForm').submit(function () {
        return false;
    });
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        enter();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function enter() {

        var status = $('#status').val();
        switch (status) {
            case 'create':
                var $form = $("#myForm");
                var formData = getFormData($form);
                //var formData2 = $('#myForm').serialize(); //for get submit
                $.ajax({
                    contentType: 'application/json; charset=UTF-8',
                    type: "post",
                    //data: JSON.stringify({'id': id,'amt': amt,'incomeOrExpend':incomeOrExpend}) ,
                    data: JSON.stringify(formData),
                    async: false,
                    url: "/books",
                    success: function (data) {
                        //alert('OK');
                        //todo 未來要改成回到當頁

                        popToast("新 增 完 成 ！");
                        setTimeout("location.reload()", 900);
                    },
                    error: function (jqXHR, exception) {
                        ajaxError(jqXHR, exception);
                    },
                });
                break;

            case 'update':
                var sessionId = "\'[[${session.loginUser.getId()}]]\'".replaceAll("'", "");
                $("#updateMemberId").val(sessionId);
                var Today = new Date();
                $("#updateDat").val((Today.getFullYear()) + "-" + (Today.getMonth() + 1) + '-' + ((Today.getDate().toString().length == 1) ? '0' + Today.getDate() : Today.getDate()));
                var $form = $("#myForm");
                var formData = getFormData($form);
                $.ajax({
                    contentType: 'application/json; charset=UTF-8',
                    type: "PUT",
                    data: JSON.stringify(formData),
                    async: false,
                    url: "/books",
                    success: function (data) {
                        //queryOne(formData.id);
                        popToast("修 改 完 成 ！");
                        //todo 未來要刷新回到當頁並且帶入queryone
                        setTimeout("location.reload()", 700);
                        //location.reload();

                    },
                    error: function (jqXHR, exception) {
                        ajaxError(jqXHR, exception);
                    }
                });
                break;
            case 'delete' :
                if ($("#id").val() != '') {
                    var del = confirm("確定刪除嗎？");
                    if (!del) {
                        return false;
                    } else {
                        var id = $('#id').val();
                        $.ajax({
                            contentType: 'application/json; charset=UTF-8',
                            type: "DELETE",
                            data: id,
                            async: false,
                            url: "/books",
                            success: function (data) {
                                popToast("刪 除 完 成 ！");
                                setTimeout("location.reload()", 700);
                            },
                            error: function (jqXHR, exception) {
                                ajaxError(jqXHR, exception);
                            }
                        });
                    }
                } else {
                    alert('請先選擇您要刪除的資料！');
                }
                break;
        }
        //alert(status);
    }
function printPDF() {
        alert(11);
    $.ajax({
        contentType: 'application/json; charset=UTF-8',
        type: "POST",
        async: false,
        url: "books/print",
        success: function (data) {
            popToast("OK ！");
            alert(data.toString());
            setTimeout("location.reload()", 700);

        },
        error: function (jqXHR, exception) {
            ajaxError(jqXHR, exception);
        }
    });
}
    function queryOne(id) {
      var session = "\''+[[${session.loginUser.getName()}]]+'\'";
        if (session == null || session == '') {
            alert('session 失效');
            window.location.replace(location);
        }
        //alert("id 是 " + id);
        //window.location.href = "/toModifyMember2/"+ id
        $.ajax({
                contentType: 'application/json; charset=UTF-8',
                type: 'POST',
                data: (id),
                async: false,
                dataType: 'json',
                url: "/books/queryOne",
                success: function (data) {
                    //alert(JSON.stringify(data));
                    $('#customerId').val(data.customerId);
                    findProjectByCustomerIdAjax($('#customerId').val(), 'form');//重讀二階下拉
                    $('#id').val(data.id);
                    $('#incomeOrExpend').val(data.incomeOrExpend);
                    $('#invoice').val((data.invoice) ? '1' : '0');
                    $('#invYM').val(data.invYM);
                    $('#invNo').val(data.invNo);
                    $('#paid').val((data.paid) ? '1' : '0');
                    $('#paidDat').val((data.paidDat != null) ? data.paidDat.substring(0, 10) : '');
                    $('#amt').val(data.amt);
                    //$('#projectId').val(data.projectId);
                    $('#createDat').val((data.createDat != null) ? data.createDat.substring(0, 10) : '');
                    $('#updateDat').val((data.updateDat != null) ? data.updateDat.substring(0, 10) : '');
                    $('#description').val(data.description);
                    $('#remarks').val(data.remarks);
                    $('#createMemberId').val(data.createMemberId);
                    $('#createMemberName').val(data.createMemberName);
                    $('#updateMemberId').val(data.updateMemberId);
                    $('#updateMemberName').val(data.updateMemberName);

                    componentCl();//把該關閉的元件關掉
                    //要停滯時間給兩階段下拉讀取完再setProjectId
                    console.log(data.projectId);
                    setTimeout("changeProject(" + data.projectId + ")", 100);
                    //$('#updateMemberName').val(data.projectId);
                },
                error: function (jqXHR, exception) {
                    ajaxError(jqXHR, exception);
                }
            }
        )
    }

    function changeProject(projectId) {
        $('#projectId').val(projectId);
    }

    //-查詢視窗
    function openAddModal() {
        $('#addPanelHolder').html();
        $('#addPanel').modal('show');
        /*
        $.ajax({
                type: 'GET',
                url: "/toAddMember",
                success: function (data) {
                    $('#addPanelHolder').html(data);
                    $('#addPanel').modal('show');
                },
            }
        )
        */
    }

    //取的form所有值
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    String.prototype.replaceAll = function (s1, s2) {
        return this.replace(new RegExp(s1, "gm"), s2);
    }

    //元件控制
    function componentCl() {
        var invStatus = $('#invoice').val();
        if (invStatus == 1) {
            $('#invNo').attr('disabled', false);
            $('#invYM').attr('disabled', false);
            $('#invYM').attr('placeholder', '2018-01');
            $('#invNo').attr('placeholder', 'NY12345678');
        } else if (invStatus == 0) {
            $('#invNo').attr('disabled', true);
            $('#invYM').attr('disabled', true);
            $('#invYM').attr('placeholder', '');
            $('#invNo').attr('placeholder', '');

        }
        var paid = $('#paid').val();
        if (paid == 1) {
            $('#paidDat').attr('disabled', false);
            $('#paidDat').attr('placeholder', '2018-01-01');
        } else if (paid == 0) {
            $('#paidDat').attr('disabled', true);
            $('#paidDat').attr('placeholder', '');
        }
    }

    function changePageSize() {
        var page = '1' // 修改每頁幾筆自動回第一頁
        var pageSize = $('#pageSize').val();
        var queryForm = $("#queryForm");

        window.location.href = "/booksChangePage?pageSize=" + pageSize + "&page=" + page;
    }

    function changePage(page) {
        var pageSize = $('#pageSize').val();
        alert(pageSize);
        alert(page);

        window.location.href = "/booksChangePage?pageSize=" + pageSize + "&page=" + page;
    }

    $(".datetimepickerYM").datetimepicker({
        startView: 3,
        minView: 3,
        autoclose: true,
        todayBtn: true,
        todayHighlight: true,
        format: 'yyyy-mm',
        language: 'zh-TW'
    });
    $(".datetimepickerDat").datetimepicker({
        startView: 2,
        minView: 2,
        autoclose: true,
        todayBtn: true,
        todayHighlight: true,
        format: 'yyyy-mm-dd',
        language: 'zh-TW'
    });

    function reInThisPage() {
        var pageSize = $('#pageSize').val();
        window.location.href = "/books?pageSize=" + pageSize;
    }

    function ajaxError(jqXHR, exception) {
        var msg = '';
        if (jqXHR.status === 0) {
            msg = 'Not connect.\n Verify Network.';
        } else if (jqXHR.status == 404) {
            msg = 'Requested page not found. [404]';
        } else if (jqXHR.status == 500) {
            msg = 'Internal Server Error [500].';
        } else if (exception === 'parsererror') {
            msg = 'Requested JSON parse failed.';
        } else if (exception === 'timeout') {
            msg = 'Time out error.';
        } else if (exception === 'abort') {
            msg = 'Ajax request aborted.';
        } else {
            msg = 'Uncaught Error.\n' + jqXHR.responseText;
        }
        alert('seession= ')
        alert("\''+[[${session.loginUser.getName()}]]+'\'");
        alert(msg);
    }


</script>
</body>
</html>