<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>開放人數管理</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <div th:replace="common/bar2"></div>
    <!------->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-9 ml-sm-auto col-lg-16 px-4">
                <div class="panel panel-default">
                    <form id='myForm' class="needs-validation" novalidate>
                        <div class="modal-content">
                            <div class="modal-body">
                                <form class="form-group">
                                    <div class="col-md mb-0">
                                        <label for="normaldayNum">平日開放人數</label>
                                        <input name="normaldayNum" id="normaldayNum" maxlength="3" size="3" type="text"
                                               class="form-control"
                                        />
                                    </div>
                                    <div class="col-md mb-0">
                                        <label for="holidayNum">假日開放人數</label>
                                        <input name="holidayNum" id="holidayNum" maxlength="3" size="3" type="text"
                                               class="form-control"
                                        />
                                    </div>
                                    <div class="col-md mb-0">
                                        <label for="specialDat">追加特定場次＆人數</label>
                                        <div class="form-inline">
                                            <input id='specialDat' name="specialDat" type="text" placeholder="2018-12-30"
                                                   class="form-control datetimepickerDat"
                                                   onchange="findSessionsBySpecialDatAjax($(this).val())" 　>
                                            <select class="form-control selector" name="sessionsId" id="sessionsId">

                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                        <input id='specialDayNum' name="specialDayNum" type="text"
                                               class="form-control " 　>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-success" data-dismiss="modal"
                                        onclick="'javascript:save()'">Save
                                </button>
                                <button class="btn btn-secondary" onclick="location.reload();" id="reset" name="reset"
                                        type="button">Cancel
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../static/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../static/dist/js/sb-admin-2.js"></script>

<!-- Page-Level Demo Scripts - Notifications - Use for reference -->
<script>
    // tooltip demo
    $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })
    // popover demo
    $("[data-toggle=popover]")
        .popover()
</script>

</body>

</html>