<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>假日管理</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this tmemberlate -->
    <link href="../static/css/dashboard.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap-jie.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap-table.css" rel="stylesheet">
    <!-- jQuery v1.9.1 -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- Moment.js v2.20.0 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
    <!-- FullCalendar v3.9 -->
    <link href="../static/fullcalendar/fullcalendar.min.css" rel="stylesheet"/>
    <link href="../static/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print"/>
    <script src="../static/fullcalendar/fullcalendar.min.js" rel="stylesheet"></script>
    <style>
        th {
            background-color: #DDDDDD;
        }

        .fc-title {
            font-size: 0.85rem;
        }

        .pop-toast {
            max-width: 35%;
            background: darkred;
        }
    </style>
    <script>

        /**
         * toast 小提示框
         * @param tipTxt 提示内容
         */
        function popToast(tipTxt) {
            var $popToast = $(".pop-toast");
            $popToast.remove();
            var popToastHtml = '<div class="pop-toast">\n' +
                '            <p class="toast-tip">' + tipTxt + '</p>\n' +
                '        </div>';
            $popToast = $(popToastHtml);
            $("body").append($popToast);
            setTimeout(function () {
                $popToast.fadeOut();
            }, 1000);
        }
    </script>
</head>

<body>
<!--引入topbar-->
<div th:replace="common/bar::top_bar"></div>

<div class="container-fluid">
    <div class="row">
        <!--引入sidebar-->
        <div th:replace="common/bar::side_bar(activeUrl='main')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div id="calendar"></div>

            <script>
                var Today = new Date();
                var now = Today.getFullYear() + "-" + (Today.getMonth() + 1) + "-" + Today.getDate();
                $("#calendar").fullCalendar({
                    themeSystem: "standard",
                    // 參數設定[註1]
                    header: {
                        left: '',
                        center: 'title',
                        right: 'prev,next today'
                    },
                    buttonText: {
                        today: 'Today',
                        prev: '<',
                        next: '>',
                    },
                    monthNames: ["Jan.", "Feb.", "Mar.", "Apr.", "May.", "June.", "July.", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."],
                    monthNamesShort: ["Jan.", "Feb.", "Mar.", "Apr.", "May.", "June.", "July.", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."],
                    dayNames: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                    dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                    defaultDate: now, // 起始日期navLinks: true, // can click day/week names to navigate views
                    selectable: true,
                    selectHelper: true,
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    eventStartEditable: false,
                    eventBackgroundColor: "#cce8cf",
                    eventColor: "#17A2B8",
                    timeFormat: 'H:mm',
                    dayClick: function (date, event, view) {
                        console.log('add event');
                        var data1 = JSON.stringify(date._d);
                        $.ajax({
                            url: "holiday/add",
                            async: true,
                            contentType: 'application/json; charset=UTF-8',
                            type: "POST",
                            data: data1,
                            dataType: "json",
                            success: function (data) {
                                console.log(data);
                                if (data.extra != 9999) {
                                    alert(1);
                                    var n = data.accommodate.num + data.extra;
                                    $('#calendar').fullCalendar('renderEvent',
                                        {
                                            title: '  開放人數: ' + n,
                                            start: new Date(Date.parse(data.dat + ' ' + data.startTime)),
                                            end: new Date(Date.parse(data.dat + ' ' + data.endTime)),
                                        }, true);
                                } else {
                                    popToast("每天開放場次不超過四場!");
                                }
                            },
                            error: function (err) {
                                console.log(err)
                            }
                        });

                    },
                    eventClick: function (date, event, view) {
                         console.log('delete event');
                         console.log(date);
                         console.log(event);
                        var data1 = JSON.stringify(date.start._i);
                        $.ajax({
                            url: "holiday/remove",
                            async: true,
                            contentType: 'application/json; charset=UTF-8',
                            type: "DELETE",
                            data: data1,
                            success: function () {
                                $('#calendar').fullCalendar('removeEvents', date._id);
                            },
                            error: function (err) {
                                console.log(err)

                            }
                        });
                    },
                    events: function (start, end, timezone, callback) {
                        var startDat = start.format('YYYY-MM-DD');
                        var endDat = end.format('YYYY-MM-DD');
                        var data1 = JSON.stringify({"startDat": startDat, "endDat": endDat});
                        $.ajax({
                            url: "holiday/load",
                            async: true,
                            contentType: 'application/json; charset=UTF-8',
                            type: "POST",
                            data: data1,
                            dataType: "json",
                            success: function (data) {
                                $('#calendar').fullCalendar('removeEvents', function (calEvent) {
                                    return true;
                                });
                                console.log(data);
                                var events = [];
                                $.each(data, function (key, value) {
                                    if (value.dat != null) {
                                        var n = value.accommodate.num + value.extra;
                                        events.push({
                                            title: '  開放人數: ' + n,
                                            start: new Date(Date.parse(value.dat + ' ' + value.startTime)),
                                            //start: new Date(Date.parse(s)),
                                            end: new Date(Date.parse(value.dat + ' ' + value.endTime)),
                                            //end: new Date(Date.parse(s2)),
                                            //allDay: true
                                        });

                                    }

                                    /* var eventData;
                                    console.log(value.start);
                                    eventData = {
                                        title: value.title,
                                        start: value.start,
                                        end: value.end
                                    };
                                    $('#calendar').fullCalendar('renderEvent', eventData, true); */
                                });
                                callback(events);
                            },
                            error: function (err) {
                                console.log('err: ' + err)
                            }
                        });
                    },

                });
                // $('#calendar').fullCalendar('renderEvent', {
                //     title: '明天的活動',
                //     start: moment().add(1, 'days').format('YYYY-MM-DD')
                // });
            </script>


        </main>
    </div>
</div>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>
